<!-- SECTION CATALOG -->
<section class="section-catalog">
  <div class="container">
    <h2 class="title-catalog" data-aos="fade-up">Catalog</h2>
    <ul class="list-catalog">
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img1.webp    1x,
                    ./img/catalog/img1@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img1@2x.png 2x"
                  src="./img/catalog/img1.png"
                  alt="Watches Tube Watch S42 Date Steel With Black Case"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Tube Watch S42 Date Steel With Black Case</p>
        <span class="text-price">€395</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img2.webp    1x,
                    ./img/catalog/img2@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img2@2x.png 2x"
                  src="./img/catalog/img2.png"
                  alt="Watches Avondale Watch Police For Men"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Avondale Watch Police For Men</p>
        <span class="text-price">€800</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img3.webp    1x,
                    ./img/catalog/img3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img3@2x.png 2x"
                  src="./img/catalog/img3.png"
                  alt="Watches Diver 300M Co‑Axial Master Chronometer Chronograph"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="text-price">€600</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img4.webp    1x,
                    ./img/catalog/img4@2x.webp 2x
                  "
                  type="image/webp"
                />

                <img
                  srcset="./img/catalog/img4@2x.png 2x"
                  src="./img/catalog/img4.png"
                  alt="Watches Diver 300M Co-Axial Master Chronometer"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Diver 300M Co-Axial Master Chronometer</p>
        <span class="text-price">€1400</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img5.webp    1x,
                    ./img/catalog/img5@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img5@2x.png 2x"
                  src="./img/catalog/img5.png"
                  alt="Taman Watch By Police For Men"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Taman Watch By Police For Men</p>
        <span class="text-price">€500</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img6.webp    1x,
                    ./img/catalog/img6@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img6@2x.png 2x"
                  src="./img/catalog/img6.png"
                  alt="Malawi Watch Police For Men"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Malawi Watch Police For Men</p>
        <span class="text-price">€555</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img7.webp    1x,
                    ./img/catalog/img7@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img7@2x.png 2x"
                  src="./img/catalog/img7.png"
                  alt="Watches Diver 300M Co-Axial Master Chronometer"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Diver 300M Co-Axial Master Chronometer</p>
        <span class="text-price">€1200</span>
      </li>
      <li class="item-catalog">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img8.webp    1x,
                    ./img/catalog/img8@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/catalog/img8@2x.png 2x"
                  src="./img/catalog/img8.png"
                  alt="Greenlane Watch By Police For Men"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Greenlane Watch By Police For Men</p>
        <span class="text-price">€1000</span>
      </li>
      <li class="item-catalog item-catalog-tablet">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img9.webp    1x,
                    ./img/catalog/img9@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/desktop/catalog/img9@2x.png 2x"
                  src="./img/desktop/catalog/img9.png"
                  alt="Watches Squardrc 5402 Chrono"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Squardrc 5402 Chrono</p>
        <span class="text-price">€359</span>
      </li>
      <li class="item-catalog item-catalog-tablet">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img10.webp    1x,
                    ./img/catalog/img10@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/desktop/catalog/img10@2x.png 2x"
                  src="./img/desktop/catalog/img10.png"
                  alt="Watches Diver 300M Co‑Axial Master Chronometer Chronograph"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="text-price">€400</span>
      </li>
      <li class="item-catalog item-catalog-tablet">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img11.webp      1x,
                    ./img/catalog/img11@2x-2.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/desktop/catalog/img11@2x-2.png 2x"
                  src="./img/desktop//catalog/img11.png"
                  alt="Watches Citizen"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>
              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Citizen</p>
        <span class="text-price">€519</span>
      </li>
      <li class="item-catalog item-catalog-tablet">
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog/img12.webp    1x,
                    ./img/catalog/img12@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  srcset="./img/desktop/catalog/img12@2x.png 2x"
                  src="./img/desktop//catalog/img12.png"
                  alt="Watches Armani Exchange"
                  width="275"
                  height="274"
                  class="img-catalog"
                />
              </picture>
            </div>
            <div class="box-back">
              <svg width="24" height="24" class="icon-box">
                <use href="./img/icons.svg"></use>
              </svg>

              <h3 class="title-card">Description</h3>
              <p class="text-card text-card-box">
                Richly detailed with an <br />
                understated design - the Police Men’s Greenlane watch.
              </p>
              <h3 class="title-card">DETAILS & FEATUREStion</h3>
              <p class="text-card">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <p class="text-catalog">Armani Exchange</p>
        <span class="text-price">€400</span>
      </li>
    </ul>
    <button type="button" class="button-modal" data-modal-open>Buy now</button>
  </div>

  <!-- WINDOW MODAL -->

  <div class="modal__backdrop is-hidden" data-modal>
    <div class="modal__window">
      <button type="button" class="modal__buttonclose" data-modal-close>
        <svg class="close__vectorsvg" width="12" height="12">
          <use
            href="./img/catalog/twitter.svg#icon-vectorclose"
            class="icon-chair"
          ></use>
        </svg>
      </button>
      <div class="modal_watch">
        <img
          class="modal_img"
          srcset="
            ./img/catalog/watchess@1x.jpg 1x,
            ./img/catalog/watchess@2x.jpg 2x,
            ./img/catalog/watchess@3x.jpg 3x
          "
          src="./img/catalog/watchess@1x.jpg.jpg"
          alt="Tube Watch S42"
          width="276"
          height="274"
        />
        <div class="modal_inner">
          <h3 class="modal_wname">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="modal_wprice">€395</p>
        </div>
      </div>

      <!--WINDOW FORM MODAL-->

      <form action="placing-an-order" class="form">
        <label for="name" class="form__name">Full name</label>
        <fieldset class="form__box">
          <input
            type="text"
            name="username"
            id="name"
            required
            autofocus
            placeholder="Enter your full name"
            class="form__input"
          />
        </fieldset>
        <label for="mailbox" class="form__name">Email</label>
        <fieldset class="form__box">
          <input
            type="email"
            name="email"
            id="mailbox"
            required
            placeholder="Enter your email"
            class="form__input"
          />
        </fieldset>
        <label for="card" class="form__name">Card number</label>
        <fieldset class="form__box">
          <input
            type="text"
            name="card number"
            id="card"
            required
            placeholder="Enter card"
            minlength="16"
            maxlength="16"
            class="form__input"
          />
        </fieldset>

        <label for="coment" class="form__name">Comments</label>
        <div class="form__coment">
          <textarea
            name="feedback"
            rows="5"
            id="coment"
            placeholder="Enter your text"
            class="form__text"
          ></textarea>
        </div>

        <!-- WINDOW MODAL BUTTON -->

        <button type="submit" class="form__buttonsend">submit</button>
        <p class="form__paragraf">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
