<footer class="footer-cont dark-section">
  <div class="footer container">
    <div class="media-contact">
      <!--контакти-->
      <div class="footer-contact">
        <a class="footer-contact-logo link" href="./index.html">
          <!--<svg width="40" height="40">
                                <use href="../img/footer/symbol-defs.svg#icon-logo-f"></use>
                            </svg>-->
          <img
            class="footer-logo-svg"
            src="./img/footer/logo-f.svg"
            alt="logo"
            width="40"
            height="40"
          />
        </a>
        <address>
        <a class="footer-link-phone link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
        <a
          class="footer-map link"
          href="https://goo.gl/maps/h8Wnz4bdqPci5JJbA?coh=178573&entry=tt"
          >1678 S. Pioneer Road <br />
          Salt Lake City <br />
          UT 84104</a
        >
        </address>
      </div>

      <!-- лінки -->
      <div class="footer-media">
        <ul class="footer-media-item">
          <li class="footer-media-list list">
            <a class="footer-media-link link" href="#about">About Us</a>
          </li>
          <li class="footer-media-list list">
            <a class="footer-media-link link" href="#catalog">Catalog</a>
          </li>
          <li class="footer-media-list list">
            <a class="footer-media-link link" href="#sale">Sale</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- соц мережі -->
    <div class="footer-menu">
      <ul class="footer-menu-item">
        <li class="footer-menu-list list">
          <a class="footer-icon-soc link" href="">
            <svg class="footer-icon" width="24" height="24">
              <use href="./img/footer/symbol-defs.svg#icon-facebook-f"></use>
            </svg>
          </a>
        </li>
        <li class="footer-menu-list list">
          <a class="footer-icon-soc link" href="">
            <svg class="footer-icon" width="24" height="24">
              <use href="./img/footer/symbol-defs.svg#icon-instagram-f"></use>
            </svg>
          </a>
        </li>
        <li class="footer-menu-list list">
          <a class="footer-icon-soc link" href="">
            <svg class="footer-icon" width="24" height="24">
              <use href="./img/footer/symbol-defs.svg#icon-youtube-f"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- дод.інформфція -->
    <div class="footer-rules">
      <p class="rules-text">&copy;2023 The Watch Spot. All rights reserved.</p>
      <ul class="rules-item">
        <li class="footer-rules-text list">Privacy Policy</li>
        <li class="footer-rules-text list">Terms of Service</li>
      </ul>
    </div>
  </div>
</footer>
