<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">
        <svg width="19" height="19"><use href=""></use></svg>
        <span class="logo-item">thewachtspot</span></a
      >
      <ul class="header-list list">
        <li class="header-list-item">
          <a class="header-link link" href="">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-link link" href="">Catalog</a>
        </li>
        <li class="header-list-item">
          <a class="header-link link" href="">Sale</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a class="header-tel link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>
    <!-- <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="menu-open-btn-item" width="24px" height="24px">
        <use href="./images/icons.svg#icon-menu-hamburge"></use>
      </svg>
    </button> -->
  </div>
  <!-- <div class="mob-menu is-hidden" data-menu>
    <div>
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="menu-close-btn-item" width="8px" height="8px">
          <use href="./images/icons.svg#icon-close-black-18dp-2-1"></use>
        </svg>
      </button>
      <nav>
        <ul class="mob-menu-list list">
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="./index.html">About us</a>
          </li>
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="./portfolio.html">Catalog</a>
          </li>
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="">Sale</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->
</header>
