<section>
    <h2>Welcome to our collection of premium watches</h2>
    <ul>
        <li>
            <img 
        srcset="./img/hero/watchfirst@2x.jpg 2x"
    src="./img/hero/watchfirst.jpg" 
    alt="watch">
        </li>
        <li>
        <img 
        srcset="./img/hero/watchfirst@2x.jpg 2x"
        src="./img/hero/watchfirst.jpg" 
        alt="watch">
    </li>
        <li>
            <img 
            srcset="./img/hero/watchsecond@2x.jpg 2x"
            src="./img/hero/watchsecond.jpg" 
            alt="watch">
        </li>
        <li>
            <img 
            srcset="./img/hero/watchthird@2x.jpg 2x"
            src="./img/hero/watchthird.jpg" alt="watch"></li>
        <li>
            <img 
            srcset="./img/hero/watchfourth@2x.jpg 2x"
            src="./img/hero/watchfourth.jpg" alt="watch"></li>
        <li>
            <img 
            srcset="./img/hero/watchfirst@2x.jpg 2x"
            src="./img/hero/watchfirst.jpg" alt="watch">
        </li>
    </ul>
    <button type="button">></button>
    <button type="button">></button>
    <p>01---05</p>
    <p>Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
    </p>
    <img 
    srcset="./img/hero/watch-from-hand@2x.jpg 2x"
    src="./img/hero/watch-from-hand.jpg" 
    alt="watch-from-hand">

</section>