<section class="hero container">
    <h2 class="hero-title">Welcome to our collection of premium watches</h2>
    <img 
        srcset="./img/hero/watchfirst@2x.jpg 2x"
    src="./img/hero/watchfirst.jpg" 
    alt="watch" class="hero-static-watch img">
    <div class="hero-menu-watches is hidden">
    <ul class="hero-list list">
        <li class="hero-item">
            <img 
        srcset="./img/hero/watchfirst@2x.jpg 2x"
    src="./img/hero/watchfirst.jpg" 
    alt="watch" class="hero-swipe-images img">
        </li>
        <li class="hero-item">
        <img 
        srcset="./img/hero/watchfirst@2x.jpg 2x"
        src="./img/hero/watchfirst.jpg" 
        alt="watch" class="hero-swipe-images img">
    </li>
        <li class="hero-item">
            <img 
            srcset="./img/hero/watchsecond@2x.jpg 2x"
            src="./img/hero/watchsecond.jpg" 
            alt="watch" class="hero-swipe-images img">
        </li>
        <li class="hero-item">
            <img 
            srcset="./img/hero/watchthird@2x.jpg 2x"
            src="./img/hero/watchthird.jpg" alt="watch" class="hero-swipe-images img"></li>
        <li>
            <img 
            srcset="./img/hero/watchfourth@2x.jpg 2x"
            src="./img/hero/watchfourth.jpg" alt="watch" class="hero-swipe-images img"></li>
        <li class="hero-item">
            <img 
            srcset="./img/hero/watchfirst@2x.jpg 2x"
            src="./img/hero/watchfirst.jpg" alt="watch" class="hero-swipe-images img">
        </li>
    </ul>
</div>
    <button type="button" class="hero-btn-swipe button">></button>
    <button type="button" class="hero-btn-swipe button">></button>
    <p class="hero-text-swipe">01---05</p>
    <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
    </p>
    <img 
    srcset="./img/hero/watch-from-hand@2x.jpg 2x"
    src="./img/hero/watch-from-hand.jpg" 
    alt="watch-from-hand" class="hero-bottom-image img">
</section>