<section class="news">
  <div class="container">
    <p class="news-text">New watches</p>
    <h2 class="news-title">Green And Bronze—The Match Made In Heaven</h2>
    <div>
      <ul class="news-list">
        <li class="news-link">
          <picture>
            <source
              srcset="
                ../img/news/img-news-1-desk.jpg    1x,
                ../img/news/img-news-1-desk-2x.jpg 2x
              "
              media="(min-width: 1206px)"
            />
            <source
              srcset="
                ../img/news/img-news-1-tab.jpg    1x,
                ../img/news/img-news-1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/news/img-news-1-mob.jpg    1x,
                ../img/news/img-news-1-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="../img/news/img-news-1-desk.jpg" alt="New watches" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../img/news/img-news-2-desk.jpg    1x,
                ../img/news/img-news-2-desk-2x.jpg 2x
              "
              media="(min-width: 1206px)"
            />
            <source
              srcset="
                ../img/news/img-news-2-tab.jpg    1x,
                ../img/news/img-news-2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/news/img-news-2-mob.jpg    1x,
                ../img/news/img-news-2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="../img/news/img-news-2-desk.jpg" alt="New watches" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
