.list {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;
}

.header {}

.container {}

.header-container {}

.header-navigation {}

.header-logo {}

.logo-item {}

.header-list {}

.header-list-item {}

.header-link {}

.header-address {}

.header-tel {}