.header {
  background-color: var(--background-black-color);
  padding-top: 20px;
  padding-bottom: 69px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
}

.logo-link {
  display: flex;
  align-items: center;
  transition-property: transform;
  transition-duration: 300ms;
}

.logo-link:hover,
.logo-link:focus {
  transform: scale(1.1);
}

.logo-svg {
  margin-right: 4px;
  width: 19px;
  height: 19px;
}

.logo-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 15);
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.nav-link {
  font-weight: 400;
  font-size: 9px;
  line-height: calc(12 / 9);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
    transition-property: transform;
  transition-duration: 300ms;
}

.nav-link:hover,
.nav-link:focus {
    transform: scale(1.2);
}

.address {
  display: block;
  /* transition-property: transform;
  transition-duration: 300ms; */
}
/* .address:hover,
.address:focus {
  transform: scale(1.1);
} */

.header-tel {
  width: 159px;
  height: 48px;
  background: #1e2827;
  border-radius: 8px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--text-white-color);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  transition-property: transform, border-color;
  transition-duration: 300ms;
}

.header-tel:hover,
.header-tel:focus {
  transform: scale(1.1);
  border-color: #ffffff;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-left: 80px;
}

.nav-list-item {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .address {
    display: none;
  }
  .header-tel {
    display: none;
  }
  .header {
    padding-top: 29px;
  }

  .mobile-menu {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    transition-property: transform;
    transition-duration: 300ms;
  }
  .mobile-menu:hover,
  .mobile-menu:focus {
    transform: scale(1.2);
  }

  .mobile-menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #1e2827;
    padding: 29px 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 450ms;
  }
  .mobile-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
  .main-wrap {
    max-width: 335px;
    margin: 0 auto;
  }

  .mobile-menu-wrap {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }

  .mobile-menu-close-btn {
    /* position: absolute; */
    top: 0;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 0;

    display: block;
    border: none;
    background-color: transparent;
    fill: #ffffff;
    transition-property: transform;
    transition-duration: 300ms;
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    transform: scale(1.2);
  }

  .mobile-menu-close-btn-svg {
    fill: #ffffff;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .mobile-menu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-white-color);

   
  }
  .mobile-menu-list-item:hover,
  .mobile-menu-list-item:focus {
    transform: scale(1.2);
  }
  .mobile-menu-list-item {
    transition-property: transform;
    transition-duration: 300ms;
  }
}

/* SCREEN 768PX */

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 80px;
  }

  .logo-svg {
    width: 19px;
    height: 19px;
  
  }

  .logo-text {
    font-size: 15px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-container {
    display: none;
  }
}
