
@media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
      min-width: 375px;
      padding-right: 20px;
      padding-left: 20px;
    }
    .hero {
    background-color: #141414;
    }
    .desc-watch-hand {
      display: none;
    }
    .text-tabel {
      display: none;
    }
    .hero-text-desc {
      display: none;
    }
    .static-watch-tabel {
      display: none;
    }
    .hero-bottom-table {
      display: none;
    }
    .text-desctop {
      display: none;
    }
    .static-watch-desc {
      display: none;
    }
    .hero-title {
      font-weight: 600;
      font-size: 38px;
      line-height: 1.05;
      letter-spacing: -0.04em;
      color: #FFFFFF;
      margin-bottom: 60px;
    }
    .hero-static-watch {
      width: 266px;
      height: 200px;
      background-color: #1E2827;
    }
    .hero-text {
      font-weight: 300;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #FFFFFF;
margin-bottom: 40px;
padding-left: 87px;
    }
    .hero-bottom-image {
      width: 335px;
height: 410px;
    }
    .hero-btn-swipe {
   width: 4.5px;
height: 9px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 4px;
    }
    .hero-static-watch {
     margin-bottom: 25px;
     width: 226px;
     height: 190px;
     background-color: #1E2827;
    }

   .hero-btn-left {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-color: rgba(20, 20, 20, 1);
    margin-right: 12px;
   }
   .hero-btn-right {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-color: rgba(20, 20, 20, 1);
    margin-right: 78px;
   }

    .hero-menu-watches {
     
    }
    .hero-bottom-image {
      padding-bottom: 40px;
    }
    .hero-text-swipe {
    font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #FFFFFF;
margin-bottom: 43px;
    }
    .swipe-menu {
      
    }
    .hero-text-swipe {
      margin-bottom: 43px;
    }
    .icon-btn-hero {
        width: 18px;
        height: 18px;
        fill:rgba(255, 255, 255, 0.5)}

        .hero-text-one {
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: -0.02em;
      color: #FFFFFF;
      position: relative;
      margin-right: 44px;
        }
      
        .hero-text-five {
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-bottom: 40px;
        }
        .hero-text-one::after {
          content: "";
          position: absolute;
          width: 32px;
          border: 1px solid #FFFFFF;
          top: 7px;
          left: 20px;
        }
        .swipe-menu {
          display: flex;
          align-items: baseline;
          text-align: justify;
        }
  }


  /*----------TABEL------------*/
  @media screen and (min-width: 768px) and (max-width: 1280px)
  {
      
    .container {
      width: 768px;
      padding-right: 32px;
      padding-left: 32px;
    }
    .hero-text {
      display: none;
    }
    .desc-watch-hand {
      display: none;
    }
    .hero-static-watch {
      display: none;
    }
    .hero-bottom-image {
      display: none;
    }
    .text-desctop {
      display: none;
    }
    .static-watch-desc{
      display: none;
    }
    .hero-text-desc {
      display: none;
    }
    .hero {
      background-color: #141414;
      }
      .hero-title {
        font-weight: 600;
font-size: 60px;
line-height: 1.03;
        letter-spacing: -0.04em;
        color: #FFFFFF;
      }
      .hero-static-watch{
      width: 226px;
     height: 190px;
     background-color: #1E2827;
    }
    .static-watch-tabel {
      margin-top: 60px;
      width: 436px;
height: 255px;
     background-color: #1E2827;
    }
    .tabel-first-watch {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
    .text-tabel {
      font-weight: 300;
font-size: 14px;
line-height: 1.29;
/* or 129% */
letter-spacing: -0.02em;
color: #FFFFFF;

    }

    .hero-btn-left {
      width: 40px;
      height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      background-color: rgba(20, 20, 20, 1);
      margin-right: 12px;
     }
     .hero-btn-right {
      width: 40px;
      height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      background-color: rgba(20, 20, 20, 1);
      margin-right: 210px;
     }
     .icon-btn-hero {
      width: 24px;
      height: 24px;
      fill:rgba(255, 255, 255, 0.5);
    }
    .hero-text-one {
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.02em;
  color: #FFFFFF;
  position: relative;
  margin-right: 44px;
    }
  
    .hero-text-five {
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 40px;
    }
    .hero-text-one::after {
      content: "";
      position: absolute;
      width: 32px;
      border: 1px solid #FFFFFF;
      top: 7px;
      left: 20px;
    }
    .swipe-menu {
      display: flex;
      align-items: baseline;
      text-align: justify;
    }
    .hero-bottom-table {
      width: 704px;
      height: 410px;
      padding-bottom: 64px;
    }
    
  } 

/*---------------DESC-------------*/
  @media screen and (min-width: 1280px) {
    .container {
      width: 1206px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .hero {
      background-color: #141414;
      }
    .text-tabel {
      display: none;
    }
    .hero-static-watch {
      display: none;
    }
    .tabel-first-watch {
      display: none;
    }
    .hero-text {
      display: none;
    }
    .hero-bottom-table {
  display: none;
    }
    .hero-bottom-image {
      display: none;
    }
    .hero-text-desc {
      width: 288px;
  font-weight: 300;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #FFFFFF;
margin-left: 144px;
margin-bottom: 77px;
    }
    .hero-container-text {
      display: flex;
      justify-content: center;
    }
.hero-title {
  font-weight: 600;
font-size: 60px;
line-height: 1.03;
/* or 103% */
letter-spacing: -0.04em;
color: #FFFFFF;
}
.static-watch-desc {
  width: 436px;
height: 255px;
background-color: #1E2827;
}
.desc-watch-hand {
  width: 676px;
  height: 394px;
}
.hero-desc-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.hero-btn-left {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(20, 20, 20, 1);
  margin-right: 12px;
 }
 .hero-btn-right {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(20, 20, 20, 1);
  margin-right: 258px;
 }
 .icon-btn-hero {
  width: 24px;
  height: 24px;
  fill:rgba(255, 255, 255, 0.5);
}
.hero-text-one {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
color: #FFFFFF;
position: relative;
margin-right: 44px;
}

.hero-text-five {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
color: #FFFFFF;
margin-bottom: 40px;
}
.hero-text-one::after {
  content: "";
  position: absolute;
  width: 32px;
  border: 1px solid #FFFFFF;
  top: 7px;
  left: 20px;
}
.swipe-menu {
  display: flex;
  align-items: baseline;
  text-align: justify;
}

  }
