.news{
padding-top: 80px;
padding-bottom: 80px;
}

.news-text{
    font-weight: 300;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.06em;
color: rgba(20, 20, 20, 0.4);
margin-bottom: 8px;
}

.news-title{
    font-weight: 600;
font-size: 32px;
line-height: 1.25;
letter-spacing: -0.02em;
color: var(--text-black-color);
margin-bottom: 40px;
}

.news-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
.news {
    padding-top: 128px;
    padding-bottom: 128px;
}
.news-list {
    flex-direction:row;
}
}

@media screen and (min-width: 1280px) {
.news{
    padding: 80px 0px;
}
.news-title{
    margin-bottom: 80px;
}
    .news-list{
    display: flex;
    gap: 24px;
}
}