.section-sale{
    padding-bottom: 80px;
    }    

.sale-head{
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;    
    margin-bottom: 40px;
}

.sale-item:not(:last-child){
    margin-bottom:40px;;
}

.sale-img-list{
    display: flex;
    flex-direction: column;
    gap: 10px;       
}

.sale-img-photo{
    width: 80px;
    height: 80px;
}

.sale-photo-container{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.sale-item-head{
    margin-bottom: 8px;
}

.sale-before{
    position: relative;
}

.sale-before::before {
content:"";
margin-top: 0;
display: inline-block;
color: #141414;;
outline: 1px solid;
width: 100%;
}

.sale-before::after{
    content:"";
    margin-top: 0;
    display: inline-block;
    color: #141414;;
    outline: 1px solid;
    width: 16px;
    position:absolute;   
    top: 70%; 
    right:0%;
    
}

.sale-item-head-one{
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.sale-item-head-text{
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
    margin-bottom: 16px;
}

.sale-item-head-text_code{
    letter-spacing: -0.02em;
}

.sale-price-one{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-right: 8px;
}

.sale-price-two{
    font-size: 12px;
    line-height: 1.17;   
    letter-spacing: -0.02em;
    text-decoration-line: line-through;    
    color: rgba(20, 20, 20, 0.5);
    
}

.sale-item-head-two{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media screen and (min-width: 375px) and (max-width: 767px) {   
  }

  @media screen and (min-width:768px){

    .section-sale{
        padding-bottom: 128px;
        } 
    .sale-list{
        width: 572px;
     margin: 0 auto;
    }

    .sale-img-photo{
        width: 146px;
        height: 146px;
    }

    .sale-img-photo-hero{
        width: 406px;
        height: 614px;
    }

    .sale-item-head-one{
        font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    }
  }

  @media screen and (min-width: 1280px){ 
    
    .sale-photo-container {
        margin-bottom: 0;
    }

    .sale-item:not(:last-child) {
        margin-bottom: 0;
    }
    .section-sale{
        padding-bottom: 160px;
        } 
     .sale-list{
        width: 981px;
        display: flex;
        gap: 40px;
     }
   
     .sale-list-text{
        width: 369px;
     }
}